In [10]:
import pandas as pd
import re
import nltk
from collections import Counter

# Load data from Kaggle
[Link to English Word Frequency Dataset](https://www.kaggle.com/datasets/rtatman/english-word-frequency) on Kaggle

In [11]:
english_words = pd.read_csv('data/english-words-freq.csv')
english_words.head()

  word        count
0  the  23135851162
1   of  13151942776
2  and  12997637966
3   to  12136980858
4    a   9081174698

# Load in Rap Lyrics data
This is the data set we scraped ourselves

In [12]:
rap_words = pd.read_csv('data/rap-words-freq.csv')
# rename the word column into index and index into word
rap_words = rap_words.rename(columns={'word': 'index', 'index': 'word'})
# drop the index column
rap_words = rap_words.drop(columns=['index'])
rap_words.head()

     word  count  swearword
0     and   1978      False
1    they    912      False
2  wishin     30      False
3      on   1903      False
4      me   2294      False

# Clean up the data and apply preprocessing

In [13]:
def preprocess(df):
    return df

In [14]:
english_words = preprocess(english_words)